<% layout('layouts/head') -%>
<body>
<div class="col-8 offset-2"><h3><%= Listing.title %>:</h3></div>
    
</body>
<div class="card col-6 offset-2 card" style="width: 35rem;">
    <img class="card-img-top" src="<%= Listing.image.url %>"  style ="height:10rem">
    <div class="card-body">
      <p class="card-text">Owned By: <i><%= Listing.Owner.username %></i></p>
        <p class="card-text"> <%= Listing.description %><br></p>
        <p class="card-text">  &#8377; <%= Listing.price %></p>
        <p class="card-text"> <%= Listing.location %> </p>
        <p class="card-text">  <%= Listing.country %></p>
       
        
    
    </div>
  </div>
<% if(currentuser && Listing.Owner._id.equals(currentuser._id)) { %>

  <div class="btns">
    <a href="/listings/<%= Listing._id %>/edit" class="btn btn-dark col-1 offset-2">Edit</a>
    <form method="post" action="/listings/<%= Listing._id %>?_method=Delete">
     <button type="submit" class="btn btn-dark  offset-2">Delete</button></form></div>
     <div class="card col-6 offset-2 mb-3 mt-3" >
      <hr>
      <% } %>

      <% if(currentuser) {%>
      <h4>Leave a Review</h4>
      
      <form action="/listings/<%= Listing.id %>/reviews" method="post">
        
      <div class="mb-3 mt-3">
        <label for="rating" class="form-lable">Rating</label>

      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
    <div class="mb-3 mt-3" >
        <label for="comment" class="form-lable">Comments</label>
        <textarea name="review[comment]" id="comments" cols="30" rows="5" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
      <hr>
      <% }  %>
       <h4>All Reviews</h4>
       <div class="row col-5 ms-3 mb-3">
     <% for(review of Listing.reviews) { %>
      <div class="card-review">
        <div class="card-body">
          <h5 class="card-title"> Suraj</h5>
          <p class="starability-result card-text" data-rating="<%= review.rating %>">
          </p>
          <p class="card-text"> <%= review.comment %></p>
          
         <div>
          <form action="/listings/<%= Listing._id%>/reviews/<%= review._id %>?_method=Delete" method="post">
            <button class="btn btn-sm btn-dark mb-3">Delete</button>
          </form>
         </div>
      </div>
      <% } %>
      </div>
     </div>
   
     
  

